<a href="https://colab.research.google.com/github/Navyashreecs/Navyashreecs/blob/main/basics_coding_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x="tushar"
print(type(x))

<class 'str'>

In [ ]:
x=10
y=5
print(x*y)
print(x%y)
print(x+y)
print(x-y)
print(x/y)
print(x**y)

50
0
15
5
2.0
100000

In [ ]:
"hello" in "hello world"

True

In [ ]:
x=10
type(x) is str

False

In [ ]:
y=5.67
type(y) is float

True

In [ ]:
#usage of function
def add(a,b):
   return(a+b)
f=add(5,9)
print(f)

14

In [ ]:
#using the modules in python
import math as m
a=81
x=m.sqrt(a)
print(x)

9.0

In [ ]:
#ceil & floor function [Fsum,factorial,pow,sqrt,radians,degrees]
#ceil=return the ceiling value of a floating point number
#floor=return the floor value of a floating point number
print(m.ceil(26.92))
print(m.floor(23.11))
print(m.fsum([1,2,3,4,5]))
print(m.sin(90))
print(m.cos(90))
print(m.log(10))
print(m.pow(2,3))

27
23
15.0
0.8939966636005579
-0.4480736161291701
2.302585092994046
8.0

In [ ]:
from math import*
a=int(input("Enter a number"))
x=factorial(a)
print(x)

Enter a number3
6

random[]:use to generate random 
randint
randrange
choice
shuffle

In [ ]:
import random as r
x=r.random()
x

0.4550215509907305

In [ ]:
x=r.randint(1,9)
x

5

In [ ]:
y=r.randrange(1,20,5)
y

11

In [ ]:
i=[1,2,3,4,5]
z=r.choice(i)
z

4

In [ ]:
i=["s","b","h","i"]
r.shuffle(i)
i

['h', 'i', 'b', 's']

In [ ]:
age=int(input("enter your age :"))
if(age>=18 and age<60):
  print("adult")
elif(age>=60):
  print("sc")
else:
  print("child")

enter your age :67
sc

In [ ]:
for tushar in 'contriver':
  print(tushar+"abc")

cabc
oabc
nabc
tabc
rabc
iabc
vabc
eabc
rabc

In [ ]:
#range (star,stop,step[incerment /decrement])
for i in range(5,15,3):
  print(i)

5
8
11
14

In [ ]:
num=90
for i in range(1,11,2):
  print(num,"*",i,"=",num*i)

90 * 1 = 90
90 * 3 = 270
90 * 5 = 450
90 * 7 = 630
90 * 9 = 810

In [ ]:
point=int(input("enter the points earned"))
if(point>100):
  print("Advanced")
elif(point>70):
    print("Proficient")
elif(point>30):
      print("Intermediate")
else:
      print("Beginner")

enter the points earned70
Intermediate

In [ ]:
A=int(input("Enter first number"))
B=int(input("Enter second number"))
C=int(input("Enter third number"))
if(A>B and A>C):
  print("largest=",A)
elif(B>A and B>C):
    print("largest=",B)
elif(C>A and C>B):
      print("largest=",C)

Enter first number5
Enter second number4
Enter third number1
largest= 5

In [ ]:
Cheld=int(input("Enter number of classes held : "))
Aheld=int(input("Enter number of classes attended : "))
per=(Aheld/Cheld)*100
if(per>75):
  Eligible=per
  print("You are Eligible to attend class,your attendencce is",Eligible);
else:
  print("You are not Eligible to attend class,your attendence is",per)

Enter number of classes held : 269
Enter number of classes attended : 12
You are not Eligible to attend class,your attendence is 4.4609665427509295

day2 in python

In [ ]:
#string
print("Hello")
print('Hello')
a='Hello'
print(a[1])
for i in a :
  print(i)

Hello
Hello
e
H
e
l
l
o

In [ ]:
a='abcdefg'
b=a[0:7:2]
print(b)

aceg

In [ ]:
a='Once upon a time,there was a Tushar'
#'Oep'
b=a[0:8:7]
print(b)

Oo

In [ ]:
txt="hello tushar , welcome to contriver"
x=txt.index("to")
print(x)
print(txt.upper())
print(txt.startswith('hello'))
print(txt.endswith("hello"))
print(txt.split(" "))

23
HELLO TUSHAR , WELCOME TO CONTRIVER
True
False
['hello', 'tushar', ',', 'welcome', 'to', 'contriver']

In [ ]:
#without using len()
a="refrigerator"
count=0
for i in a:
  count+=1
print(count)

12

In [ ]:
#list [len()]
l=['abg','bgg','tg']
print(len(l))

3

In [ ]:
l.index('abg')

0

In [ ]:
a=[1,2,3,4]
a.append('dfg')
print(a)
print(a.count(1))
a.remove(1)
print(a)
a.pop(2)
print(a)

[1, 2, 3, 4, 'dfg']
1
[2, 3, 4, 'dfg']
[2, 3, 'dfg']

In [ ]:
fruit=["apple","cherry","strawberry"]
fruit.append('0')
print(fruit)
fruit.insert(3,"chickoo")
print(fruit)

['apple', 'cherry', 'strawberry', '0']
['apple', 'cherry', 'strawberry', 'chickoo', '0']

In [ ]:
a=[10,102,103,5,4,6]
a.sort()
print(a)
a.reverse()
print(a)

[4, 5, 6, 10, 102, 103]
[103, 102, 10, 6, 5, 4]

In [ ]:
this_tuple=("a","b","c","d","e")
print(len(this_tuple))
print(this_tuple[0])
print(max(this_tuple))
print(min(this_tuple))
go=(1,2,3,4)
print(sum(go))

5
a
e
a
10

In [ ]:
t=("a","b","c")
y=list(t)
y.append("orange")
print(y)
z=tuple(y)
print(z)

['a', 'b', 'c', 'orange']
('a', 'b', 'c', 'orange')

In [ ]:
my_set={1,2,3,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_set1={1,2,3}
my_set2={4,5,6}
my_set1.add("orange")
my_set2.update(my_set1)
print(my_set1)
my_set1=my_set2.union(my_set1)
print(my_set1)

{1, 2, 3, 'orange'}
{1, 2, 3, 4, 5, 6, 'orange'}

In [ ]:
c={34,35,36}
d={56,57,58}
c=d.union(c)
print(c)

{34, 35, 36, 56, 57, 58}

swap 2 tuples
t1=(11,22)
t2=(99,88)

In [ ]:
tuple1=(11,22)
tuple2=(99,88)
tuple1,tuple2=tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

Given a python list,find value 20 if in the list and if present,replace it with 200

In [ ]:
g=[1,20,3,4,5,6,7,8,9]
for i in g:
  if 20 in g:
    g[i]=200
print(g)

[1, 200, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def fullname(first,last):
  full=fn+ln
  return full
fn=input("Enter your first name")
ln=input("Enter your last name")
a=fullname(fn,ln)
print(a)

Enter your first nameTushar
Enter your last namePunjabi
TusharPunjabi

In [ ]:

def factorial(n):
  if n==1:
     return 1
  else:
   return n*factorial(n-1)
factorial(9)

362880

In [ ]:
fn='tushar'
ln=' punjabi'
fullname=lambda fn,ln:fn+ln
print(fullname(fn,ln))

tushar punjabi

In [ ]:
Stationary={'pens':4,'pencil':2,'book':3,'dictionary':10}
Stationary['dictionary']
x=Stationary.copy()
print(x)
y=Stationary.get('book')
print(y)
print(Stationary.items())
print(Stationary.keys())
for i,j in Stationary.items():
  print(i,j)
print(Stationary.values())
Stationary.popitem()
print(Stationary)
Stationary.clear()

{'pens': 4, 'pencil': 2, 'book': 3, 'dictionary': 10}
3
dict_items([('pens', 4), ('pencil', 2), ('book', 3), ('dictionary', 10)])
dict_keys(['pens', 'pencil', 'book', 'dictionary'])
pens 4
pencil 2
book 3
dictionary 10
dict_values([4, 2, 3, 10])
{'pens': 4, 'pencil': 2, 'book': 3}